* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.input {
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 0.5rem;
            outline: none;
        }

